---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/bases/Footer.astro";
import BlogLocalNavigation from "@components/bases/BlogLocalNavigation.astro";
import Breadcrumb from "@components/bases/Breadcrumb";
import { ArticleCard } from "@components/index.tsx";

export const frontmatter: Frontmatter = {
  title: "ブログ一覧",
  description: "ブログ一覧ページです",
};

const allBlogPosts = await getCollection("blog");
const publishedPosts = allBlogPosts.filter((post) => !post.data.draft).sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<Layout frontmatter={frontmatter}>
  <BlogLocalNavigation />

  <main id="main" class="l-main">
    <Breadcrumb currentPath={Astro.url.pathname} />
    <div class="p-contents-layout">
      <article class="html-contents">
        <h1 class="p-contents-title">ブログ一覧</h1>

        <div class="c-grid" data-config="[1][md:2]">
          {publishedPosts.map((post) => <ArticleCard href={`/blog/${post.slug}/`} date={post.data.pubDate.toLocaleDateString("ja-JP", { year: "numeric", month: "2-digit", day: "2-digit" }).replace(/\//g, ".")} tags={post.data.tags} icon={post.data.icon} title={post.data.title} />)}
        </div>
      </article>
    </div>
    <Footer />
  </main>
</Layout>
